numpy~=1.24.1
setuptools==66.0.0
darkdetect~=0.8.0
matplotlib~=3.6.3
Pillow~=9.4.0
python-dateutil~=2.8.2
cycler~=0.11.0
contourpy~=1.0.7
packaging~=23.0
fonttools~=4.38.0
pyparsing~=3.0.9
kiwisolver~=1.4.4
customtkinter~=5.0.3
modulegraph~=0.19.3
py2app~=0.28.5
macholib~=1.16.2
altgraph~=0.17.3
mplcursors~=0.5.2